@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

:root {
	--bg: #000;
	--fg: #fff;
}

html, body {
	background: var(--bg);
	color: var(--fg);
	font-family: 'B612', sans-serif;
}

#logopath {
	stroke-dasharray: 0;
	animation: dash 5s linear;
}

@keyframes dash {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	6% {
		opacity: 1;
	}
	to {
		stroke-dasharray: 100;
		stroke-dashoffset: 1000;
	}
}